
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/bin/.phpunit
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore ###
/node_modules/
/public/build/
###< symfony/webpack-encore ###

###> IDE ###
/.idea/
/.vscode/
/.php-cs-fixer.cache
###< IDE ###

###> OS ###
.DS_Store
Thumbs.db
###< OS ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
composer.lock